<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.MarutouCompack.Printer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <supports-screens android:largeScreens="true" />

    <application
        android:icon="@drawable/printer_logo"
        android:roundIcon="@drawable/printer_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.Printer" >
        <activity
            android:name="jp.co.MarutouCompack.Printer.MainMenuActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true">
                <action android:name="jp.co.MarutouCompack"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="www.example.com"
                    android:path="/path" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:enabled="@bool/use_activity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="${applicationId}.provider"
            android:name="android.support.v4.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

        <service android:name="jp.co.MarutouCompack.Printer.service.CopyToSDService" />
        <service android:name="jp.co.MarutouCompack.marutoucommonlibrary.services.LogcatViewerService" />
    </application>

</manifest>
